html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    padding-top: 2vh;
    flex-direction: column;
    min-height: 100vh;
    max-width: 75vw;
}

@media (max-width: 800px) {
    #wrapper {
        max-width: 100vh;
    }
}

#content {
    flex: 1;
}

#footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}