html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    padding-top: 1vh;
    flex-direction: column;
    min-height: 95vh;
    width: 75vw;
}

@media (max-width: 1024px) {
    #wrapper {
        width: 100vw;
    }
}

#content {
    flex: 1;
}

#footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}